<html>
    <head>
        <title>Learn Python The Hard Way</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <section class="container py-4">
            <h1>Learning Python the Hardest way</h1>
        </section>
        <section class="container">
            {% block content %}
            {% endblock content %}
        </section>
    </body>
</html>