{% extends "base.html" %}


{% block content %}
    <div class="jumbotron">
        {% if name != "unknown" %}
        <h2 class="display-4">Good day, dear <strong>{{ name }}</strong>!</h2>
        <p class="lead">Wish to play a little game?</p>
        <a href="{% url 'game' %}"><button class="btn btn-danger">GO!</button></a>
        {% else %}
        <h2 class="display-4">Please, enter your name first:</h2>
        <form class="form-inline" method="GET">
            {% csrf_token %}
            <input class="form-control" type="text" name="name">
            <button class="btn btn-primary mx-1" type="submit">Enter</button>
        </form>
        {% endif %}
    </div>
{% endblock content %}